@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #707A8A;

}
.perspective {
  perspective: 1000px;
}

.rotate-y-0 {
  transform: rotateY(0deg);
}

.rotate-y-90 {
  transform: rotateY(90deg);
}
